extends ../layout
block content
    h1= title
    div
        table
            thead
                tr
                    th First Name
                    th Last Name
            tbody
                each person in persons
                    tr
                        td= person.FirstName
                        td= person.LastName
